include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include payments *.json
recursive-include payments *.py
recursive-include public *.js
recursive-include public *.css
recursive-include public *.png
recursive-include public *.svg
